<p>Game data:</p>
<pre>
  Game State: <%= @game[0] %>
  Player Address: <%= @game[1] %>
  Player Commit: <%= @game[2].unpack1('H*').prepend('0x') %>
  Commit Timestamp: <%= Time.at(@game[3]) %>
  House Hash: <%= @game[4].unpack1('H*').prepend('0x') %>
  House Hash Timestamp: <%= Time.at(@game[5]) %>
  Player Secret: <%= @game[6].unpack1('H*').prepend('0x') %>
  Player Card: <%= @game[7] %>
  House Card: <%= @game[8] %>
  Winner Address: <%= @game[9] %>
  Reveal Timestamp: <%= Time.at(@game[10]) %>
</pre>